<div class="m-3">
  <h1><%= @restaurant.name %></h1>
  <ul></ul>
    <li><%= "Category: #{@restaurant.category}" %></li>
    <li><%= "Address: #{@restaurant.address}" %></li>
    <li><%= "Phone number: #{@restaurant.phone_number}" %></li>
  </ul>
  <br>
  <p><strong>Reviews</strong></p>
  <ul class="list-group">
    <% @restaurant.reviews.each do |review| %>
      <li class="list-group-item"><strong><%= "#{review.rating}/5 -"%></strong> <%= review.content %></li>
    <% end %>
  </ul>
  <br>
  <%= link_to "Leave a review", new_restaurant_review_path(@restaurant.id), class: "btn btn-primary" %>
  <%= link_to "Back to restaurants list", restaurants_path, class: "btn btn-outline-primary" %>
</div>
